@use "../../scss/" as *;

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}

.movie-content {
    @include flex(flex-start, flex-start);
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;

    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            padding-top: 165%;
        }
    }

    &__info {
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        & > * {
            margin-bottom: 2rem;
        }

        .title {
            font-size: 4rem;
            line-height: 1;
            margin-bottom: 1rem;
        }
        .date{
            color: $main-color;
            margin-bottom: 20px;
        }
        .overview{
            margin-bottom: 10px;
            margin-top: 15px;
            font-size: 1.2rem;

            @include mobile {
                font-size: 1.5rem;
                }
        }
        .movie-details{
            font-size: 1.2rem;
            margin-bottom: 4px;

            @include mobile {
                font-size: 1.4rem;
            }

            span{
                color: $main-color;
                font-weight: 500;
            }
        }
        .cast{
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .genres {
            @include mobile {
                margin-bottom: 25px;
            }
            
            & > * ~ * {
                margin-left: 0.5rem;   
            }

            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid $white;
                border-radius: $border-radius;
                font-size: 0.8rem;
                font-weight: 600;
                background-color: $body-bg;

                @include mobile {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.casts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;

    .highlight-text{
        color: $main-color;
    }

    &__item {
        &__img {
            padding-top: 160px;
            background-size: cover;
            margin-bottom: 0.5rem;
            border-radius: 10px;
            
        }

        &__name {
            font-size: 1rem;
            line-height: 1.2em;
            margin-top: 5px;

            @include mobile {
                font-size: 1.5rem;
            }
        }
    }
}

.companies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;

    &__item {
        &__img {
            padding-top: 50px;
            background-size: 90%;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 0.5rem;
            border-radius: 10px;
            background-color: white;
        }

        &__name {
            font-size: 1rem;
            line-height: 1.2em;
            margin-top: 5px;
        }
    }
}

.video {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1.5rem;
    }
}
.section__header{
    margin-bottom: 10px;
}

.ratings-wrapper{
    @include flex(center,flex-start);
    margin-bottom: 10px;
    h3{
        @include mobile {
        font-size: 1.5rem;
        }
    }


    img{
        width: 40px;
        margin-right: 10px;

        @include mobile {
            width: 40px;
        }
    }
}